*{
	margin:0;
}
body{
	background-color:#lightblue;
	
}
nav{
	margin:0px;
    background-color:crimson;
    width:100%;
    height:50px;
    margin-top:-20px;
    position:sticky;
    top:0;
    z-index:9;
}
.containerex{
    margin-left: 200px;
  	padding: 1px 16px;
  	height: 100%;
}

li{
    display: inline-block;
   	padding: 10px;
    float: right;

}
.right{
    float:left;
    padding-left: 0px;
}
nav ul li a{
    text-decoration: none;
    font-size:1.3em;
    color:white;
    padding:3px;
}
nav ul li:hover{
	border-bottom:3px solid white;
	
}
nav ul li a:hover{
	text-decoration:none;
	color:white;
}
.form-search{
	 width:100%;
   	 display:inline-block;
   	 position:relative;
   	 text-align:center;
	margin-top:10px;
}
#inputSearch{
 font-size: large;
 width:50%;

padding-right:20px;
 padding:12px 14px;
 margin-top:10px;
}

#Searchbtn{
 background-color:crimson;
 color:white;
 font-size: large;
 border: none;
 outline: none;
 width:20%;
  padding:12px 14px;
  margin-top:10px;
}

.sider{
    display:none;
    color:white;
    background-color:rgba(0, 0,0, 1);
    height:100%;
    width:200px;
    font-size:1.2em;
    padding:5px;
    position: fixed;
    overflow: auto;
}
i{
    float:right;
}
.sider a{
    padding: 10px;
    display: block;
}
.sider a:hover{
    background-color: #333;
    text-decoration:none;
    cursor: pointer;
}

#suggestions{
	z-index:9;
	border:none;
	position:absolute;
	left:31%;
	width:39%;
	box-shadow: 5px 10px 18px #888888;
	background-color:white;
}

#suggestions div a{
	padding :5px;
	display:block;
	color:black;
	font-weight:bold;
	font-size:1.2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#suggestions div a:hover{
	text-decoration:none;
	background-color:#ddd;
}

footer{
	margin-top:20px;
    width:100%;
    text-align:center;
    height: 200px;
    background-color: crimson;
    color:white;
    font-size:1.4em;
    position: absolute;
    z-index: -1;
    padding: 10px;
}
.content-detail{
	color:dodgerblue;
}
.rower{
	display:flex;
}
.rower div:nth-child(1){
	flex:25%;
}
.rower div:nth-child(2){
	flex:75%;
}

#home{
	color:white;
	text-align:center;
	color:dodgerblue;
	}
	.img-container{
	text-align:center;
	margin-top:60px;
	}
	.img-container img{

    width:80%;
    height:60%;
    border-top:5px solid rgb(255, 153, 0);
    border-bottom:5px solid rgb(255, 153, 0);
}